# Telegram API (from https://my.telegram.org)
API_ID=3841104
API_HASH=3c7752a29b4cc0ec9daf6e1782c0b4e2

# Telegram Bot Token (from @BotFather)
BOT_TOKEN=8249701481:AAG7TDbpKCNtoDTFD13j1LgB2EKlae8jfZg
# Admin Config
ADMIN_ID=6081621017
ADMIN_USERNAME=waiyanphyo99
